<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js" rel="stylesheet">  -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Fit Continuous</title>
</head>

<body>  
  <div id="app">
    <v-app>
    <v-layout class="transform-view" row fill-height>
      <v-navigation-drawer permanent fixed style="width: 400px; min-width: 400px;">
        <v-toolbar dark flat color="primary">
          <v-toolbar-title class="white--text">Fit Continuous</v-toolbar-title>
        </v-toolbar>
        <v-container fluid>
          <v-flex xs12>
            <v-btn class="text-none" outline block @click='$refs.tableFile.click()'>{{ tableFileName || 'UPLOAD TABLE' }}</v-btn>
            <input
              type="file"
              style="display: none"
              ref="tableFile"
              @change="uploadTable($event.target.files[0])"
            >
          </v-flex>
          <v-flex xs12>
            <v-btn class="text-none" outline block @click='$refs.treeFile.click()'>{{ treeFileName || 'UPLOAD TREE' }}</v-btn>
            <input
              type="file"
              style="display: none"
              ref="treeFile"
              @change="uploadTree($event.target.files[0])"
            >
          </v-flex>
          <v-flex xs12>
            <v-select label="Column" v-model="selectedColumn" :items="columns" />
          </v-flex>
          <v-flex xs12>
            <v-select label="Select Model"  v-model="selectedModel" :items="models" />
          </v-flex>
	  <v-flex xs12>
	    <textarea style="width: 100%" v-model="stdError" placeholder="Input your standard error (Numeric value only)"></textarea>
          </v-flex>
	  <v-flex xs12>
            <v-btn
              block
              :class="{ primary: readyToRun }"
              :flat="readyToRun"
              :outline="!readyToRun"
              :disabled="!readyToRun"
              @click="run"
            >
              Go
            </v-btn>
          </v-flex>
        </v-container>

        <v-container fluid>
         <v-flex xs12>
            <v-btn
              block
              :class="{ primary: readyToDownload }"
              :flat="readyToDownload"
              :outline="!readyToDownload"
              :disabled="!readyToDownload"
              @click="downloadResults"
            >
              Download Model Results 
            </v-btn>
          </v-flex>
        </v-container>


      </v-navigation-drawer>
      <v-layout column justify-start fill-height style="margin-left: 400px">
          <v-card class="ma-4">
            <v-card-text>
              <b>FitContinuous</b> is an app that runs the fitContinuous function in the R package geiger (Pennell et al., 2014). It fits various likelihood models for continuous character evolution and returns parameter estimates and a maximum likelihood estimate.
              <br><br>
              1. Upload your table (.csv) and tree (Newick, .phy). Note: tables are assumed to have species names as row names.
              <br><br>
              2. Select the desired column to run fitContinuous on. 
              <br><br>
	      3. Select the desired Model and input your standard error.
	      <br>
	      Models include:
	      <br>
 	      <ul>
		<li>BM (Brownian Motion)</li> 
		<li>OU (Ornstein-Uhlenbeck)</li>
		<li>EB (Early-Burst)</li>
		<li>rate_trend (diffusion model with linear trend in rates through time)</li>
		<li>lambda (one of the Pagel (1999) models that fits the extent to which the phylogeny predicts covariance among trait values for species)</li>
		<li>kappa (character divergence is related to the number of speciation events between two species)</li>
		<li>delta (time-dependent model of trait evolution)</li>
		<li>mean_trend (sensible only for non-ultrametric trees; directional drift/trend toward smaller or larger values through time)</li>
		<li>white (white-noise)</li>
	      </ul>
	      <br>
              4. Click GO.
              <br><br>
	      <br><br>
	      Sources cited: Pagel M. 1999. Inferring the historical patterns of biological evolution. Nature 401: 877-884.
	      <br>
	      Pennel, M.W., J.M. Eastman, G.J. Slater, J.W. Brown, J.C. Uyeda, R.G. FitzJohn, M.E. Alfaro, & L.J. Harmon. 2014. geiger v2.0: an expanded suite of methods for fitting macroevolutionary models to phylogenetic trees. Bioinformatics 30: 2216-2218.
             
	    </v-card-text>
          </v-card>
          <v-card v-if="table.length > 0" class="mb-4 ml-4 mr-4">
            <v-card-text>{{ tableFileName }}</v-card-text>
           <!--  <json-data-table :data="table" /> -->
          </v-card>
        <div v-if="runCompleted" xs12 class="text-xs-center mb-4 ml-4 mr-4">
          Running (Job Status {{ job.status }}) ...

            
       <!-- <template v-if="runCompleted">  -->

            <v-card class ="mb-4 ml-4 mr-4">
              <v-card-text>
            <b>Maximum-Likelihood Estimate:</b>
            <br></br>
            lnL: {{ result.lnL }}
            <br></br>
            aic: {{ result.aic }}
              </v-card-text>
            </v-card>
                  <v-card v-if="result.length > 0" class="mb-4 ml-4 mr-4">
                    <v-card-text>Result summary</v-card-text>
                      <table id="resultTable" class="display" width="100%"></table>
                  </v-card>
            <v-card class ="mb-4 ml-4 mr-4">
              <v-card-text>Phenogram Plot</v-card-text>
              <img :src="plotUrl" style="display: block; margin: auto">
              </v-card>
       <!-- </template> -->
      </div>
      </v-layout>
    </v-layout>
  </v-app>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-dsv@3"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>

//import JsonDataTable from '../components/JsonDataTable.vue';
//app.component('json-data-table', MyComponent)

// 
//  this.result = csvParse((await this.girderRest.get(`item/${resultSummaryItem._id}/download`)).data);
//this.resultColumns = this.result.columns.map(d => ({text: d, value: d, sortable: false}));


  new Vue({
      el: '#app',
      vuetify: new Vuetify(),

  data: () => ({
    tableFile: {},
    table: [],
    treeFile: {},
    tableFileName: '',
    treeFileName: '',
    job: { status: 0 },
    running: false,
    runCompleted: false,
    columns: [],
    selectedColumn: null,
    models:['BM','OU','EB','rate_trend','lambda','kappa','delta','mean_trend','white'],
    selectedModel: '',
    stdError: '',
    result: [],
    lnL: 0,
    resultColumns: [],
    plotUrl: '',
    
  }),
  asyncComputed: {
    scratchFolder() {
      return scratchFolder(this.girderRest);
    },
  },
  computed: {
    readyToRun() {
      return !!this.treeFileName &&
        !!this.tableFileName &&
        !!this.selectedColumn &&
	!!this.selectedModel &&
	!!this.stdError;
    },

    readyToDownload() {
      return (this.result && !this.running && this.runCompleted)
    },

  },
  methods: {

    // thanks to: https://thegermancoder.com/2018/11/29/how-to-parse-csv-with-javascript/
    CSVToArray(strData) {
      let lines = strData.split(/(?:\r\n|\n)+/).filter(function(el) {return el.length != 0});
      let headers = lines.splice(0, 1)[0].split(",");
      let valuesRegExp = /(?:\"([^\"]*(?:\"\"[^\"]*)*)\")|([^\",]+)/g;
      let elements = [];
      for (let i = 0; i < lines.length; i++) {
          let element = {};
          let j = 0;
          while (matches = valuesRegExp.exec(lines[i])) {
              var value = matches[1] || matches[2];
              value = value.replace(/\"\"/g, "\"");
              element[headers[j]] = value;
              j++;
          }
          elements.push(element);
      }
      return elements
    },



    async run() {
      this.running = true;
      this.errorLog = null;

      jQuery.ajax({
              url: '/fit_continuous/run',
              type: "POST",
              contentType: 'application/json',
              data: JSON.stringify({
                column: this.selectedColumn,
                model: this.selectedModel,
                stdError: this.stdError
              }),
              success: function(returnedData){
                var dataAsJSON = JSON.parse(returnedData)
                console.log('content returned:',dataAsJSON)
                this.result = dataAsJSON
                this.lnL = dataAsJSON["lnL"]
                this.runCompleted = true
                this.running = false
             
              },
              error: function(data){
                alert( 'Sorry.' );
                this.runCompleted = true
                this.running = false
              }
          });
    },


    async uploadTable(file) {
      console.log('uploadTable in fit_continuous was called')

      if (file) {
        this.tableFileName = file.name;
        const reader = new FileReader();
        reader.addEventListener('loadend', e => {
          const text = e.srcElement.result;
          //this.table = this.CSVToArray(text);
          this.table = d3.csvParse(text)
          this.columns = this.table.columns

          // pass the table data to the server backend
          jQuery.ajax({
              url: '/fit_continuous/table_upload',
              type: "POST",
              contentType: 'application/json',
              data: JSON.stringify({
                table: this.table
              }),
              success: function(data){
                console.log(data)
              },
              error: function(data){
                alert( 'Sorry.' );
              }
          });
        });
        reader.readAsText(file);   
      }

    },

  
    async uploadTree(file) {
      console.log('uploadTree in fit_continuous')

      if (file) {
        this.treeFileName = file.name;
        const reader = new FileReader();
        reader.addEventListener('loadend', e => {
          const text = e.srcElement.result;
          this.tree = text;
          console.log('Read tree file content!!');
         
          // pass the tree file as a string to the server
          jQuery.ajax({
              url: '/fit_continuous/tree_upload',
              type: "POST",
              //processData: false,
              contentType: 'application/json',
              data: JSON.stringify({
                tree: this.tree
              }),
              success: function(data){
                console.log('success!!')
              },
              error: function(data){
                alert( 'Sorry.' );
              }
          });
        });
        reader.readAsText(file);   
      }
    },
  

    async downloadResults() {
	// iterate through the first row to find the column names
        var csvOutput = ''
	for (var key in this.result[0]) {
	  csvOutput += key+','
	} 
        csvOutput += "\n";

        this.result.forEach(function(row) {
		for (var key in row) {
    		// check if the property/key is defined in the object itself, not in parent
    		if (row.hasOwnProperty(key)) {           
        			//console.log(key, row[key]);
				csvOutput += row[key]+','
    			}
		}
            csvOutput += "\n";
        });
 
	// the csv seems to be created correctly
        //console.log(csvOutput);
	//csvOutput = JSON.stringify(csvOutput)
	console.log(csvOutput.split(0,50))
  const url = window.URL.createObjectURL(new Blob([csvOutput]));
	console.log("url:",url)
	// this is an old but still normal way to download a file, attach it to an 
	// <a> tag and click the link.  We then remove the tag after downloaing. 
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'model_results.csv') //or any other extension;
        document.body.appendChild(link);
        link.click();
	document.body.removeChild(link);
    },

  }
})
</script>
</body>
</html>
